params.queue = 'normal'
params.extra_mount = ''

profiles {
	slurm {
		process {
			executor = 'slurm'
			queue = params.queue
			container = 'asoberan/allen_su_cnv'
			cpus = 1
			memory = '20 GB'
			time = '5h'
			scratch = true
			errorStrategy = 'retry'
		}
	}

	local {
		process {
			executor = 'local'
			container = 'asoberan/allen_su_cnv'
			cpus = 1
			memory = '20 GB'
			time = '5h'
			scratch = true
			errorStrategy = 'retry'
		}
	}

	singularity_no_nextflow {
		process {
			executor = 'local'
			cpus = 1
			memory = '20GB'
			time = '5h'
			scratch = true
			erroryStrategy = 'retry'
		}
	}

	singularity {
		singularity {
			enabled = true
			autoMounts = true
			runOptions = "-B ${params.ref_files_dir}:/data" + (params.extra_mount != '' ? " -B ${params.extra_mount}" : "")
		}
	}
}
