params.queue = 'normal'
params.extra_mount = ''
params.clustering_memory = '16.GB'
params.clustering_cpus = 4
params.clustering_time = '10.h'

profiles {
	slurm {
		process {
			executor = 'slurm'
			queue = params.queue
			container = 'ghcr.io/biomicrocenter/streamlinecnv:release'
			cpus = 1
			memory = '20 GB'
			time = '5h'
			scratch = true
			errorStrategy = 'retry'
		}
	}

	local {
		process {
			executor = 'local'
			container = 'ghcr.io/biomicrocenter/streamlinecnv:release'
			cpus = 1
			memory = '20 GB'
			time = '5h'
			scratch = true
			errorStrategy = 'retry'
		}
	}

	container_no_nextflow {
		process {
			executor = 'local'
			cpus = 1
			memory = '20GB'
			time = '5h'
			scratch = true
			erroryStrategy = 'retry'
		}
	}

	singularity {
		singularity {
			enabled = true
			autoMounts = true
			runOptions = "-B ${params.data_dir}:/data" + (params.extra_mount != '' ? " -B ${params.extra_mount}" : "")
		}
	}

	apptainer {
		apptainer {
			enabled = true
			autoMounts = true
			runOptions = "-B ${params.data_dir}:/data" + (params.extra_mount != '' ? " -B ${params.extra_mount}" : "")
		}
	}
}

process {
	withName:CLUSTERING {
		memory = params.clustering_memory
		cpus = params.clustering_cpus
		time = params.clustering_time
	}
}

